<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
		<!-- Set root logger level to ERROR and its appenders -->
		<root>
			<level value="ALL" />
			<appender-ref ref="SysAppender" />
		</root>
		<logger name="LogInfo">
			<level value="DEBUG" />
		</logger>
		<!-- File storage log configuration -->
		<appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="${AppData}\\LogTest\\Log\\" />
			<param name="AppendToFile" value="true" />
			<!--Composite is a combination of Size and Date.Setting Composite is the only way to split the log file by Date and Size.-->
			<param name="RollingStyle" value="Composite" />
			<!--The maximum number of files in the same day is 10. Any additional files in the same day will be deleted-->
			<param name="MaxSizeRollBackups" value="10" />
			<!--Size of each file-->
			<param name="MaximumFileSize" value="10M"/>
			<param name="DatePattern" value="'Logs_'yyyyMMdd'.txt'" />
			<!--The value of StaticLogFileName is true, then the filename of the current logfile (as opposed to the historical logfile) is simply the File argument. If false, the filename is File+DatePattern.-->
			<param name="StaticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<!-- Console Logging Configuration -->
		<appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
	</log4net>
</configuration>